page-login {

}
.mainLabel{
  size: 48px;
  font-family: Calibri;
  text-align: center;
}
.center{
  margin: 0 auto;
}

.img{
  align-items: center;
  margin: 0 auto;
  width:  40%;
  height:  40%;
}

.but{
  margin: 0 auto;

}
